# Ignore all Git metadata and build output (in all directories).
**/.git*
**/bin/
**/obj/

# Ignore other specific files that aren't needed for the build itself.
/.all-contributorsrc
/.dockerignore
/.editorconfig
/.vscode
/appveyor.yml
/COPYING
/crowdin.yml
/Dockerfile
/docs
/README.md
/README_cn.md
/renovate.json
/scripts
/SECURITY.md
